{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Home {% endblock %}

{% block content %}   
<div class="pb-5">
    <div class="row g-4">
      <div class="col-12 col-xxl-6">
        <div class="mb-8">
          <h2 class="mb-2">Welcome to Home page</h2>
          <h5 class="text-body-tertiary fw-semibold">This is a sample home page for the accounts app.</h5>
            <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-lg btn-warning rounded-pill w-10 fs-9 fs-sm-8">
            Logout</button>
        </form>
        </div>
    </div>
</div>
    
{% endblock content %}
